requests==2.32.3
beautifulsoup4==4.12.3
urllib3==2.2.2
streamlit==1.36.0
streamlit-aggrid==1.0.5
openai==1.44.1
openpyxl==3.1.5
pydantic==2.8.2
langchain==0.2.6
langchain-community==0.2.6
langchain-openai==0.1.17
langchain-core==0.2.23
pandas==1.5.3
azure-core==1.30.2
azure-identity==1.17.1